body {
    font-family: fino-sans,sans-serif;
    font-weight: 600;
    color: white;
    font-style: bold;
    text-align: center;
    margin-top: 1rem;
    font-size: 2rem;
    background-image: url("images/reflectcement.png");
    height: 100%;
    width: auto; 

}

* {
    box-sizing: border-box;
}

.js-date-input {
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    height: 2rem;
    border-radius: 10px;
}

.js-submit-button {

    margin-left: 2rem;
    font-family: fino-sans,sans-serif;
    font-weight: 400;
    border-radius: 10px;
    background-color: black;
    color: #fff;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
    width: 10rem;
    height: 3.5rem;

}

h1 {
    font-size: 5rem;
    text-shadow: 2px 2px #000000;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: 1.75rem;
}


/* Popup container */
.popup {
    font-family: fino-sans,sans-serif;
    font-weight: 400;
    position: relative;
    top: 0px;
    left: 0px;
    width: 10rem;
    height: 3rem;
    display: inline-block;
    cursor: pointer;
    padding: 0.7rem;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 1.5rem;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 1rem;
    padding: 1rem;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 60%;
    margin-left: -95px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

.resize {
    width: 2rem;
    color: #000000;
    padding-left: 0.5rem;
    padding-right: 10rem;
    margin-right: 3rem;
    margin-left: -3rem;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-radius: 0.8rem;
    background: none;
    cursor: pointer;
}



/* THE MODAL */

/* Modal Content */

html {
	box-sizing: border-box;
	font-size: 100%;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/* Hidden Controls */
[hidden] {
	display: none !important;
}

button {
	background-color: #858585;
    text-shadow: 0 0 6px #ffffff;
	padding: .75rem;
	margin: .75rem;
	border-radius: 0;
	border: 0;
	font-family: "National Park", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	transition: background-color 225ms ease-in-out;
	transition: color 225ms ease-in-out;
	border-radius: 20px;
}

button:hover,
button:focus {
	background-color: #DC3F2E;
	color: white;
}

button:hover {
	cursor: pointer;
}
.modal {
	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal .blanket {
	background-color: rgba(0, 0, 0, .8);

	height: 100vh;
	width: 100vw;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
}

.modal-body {
	background-color: #000000;
	border: 1rem groove #ffffff;

	height: 85vh;
	max-width: 60vw;

	position: relative;
	z-index: 101;

	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	font-size: 2rem;
	font-weight: 300;
	text-align: center;

	border-radius: 50px;

}

/* Modal Content Styling */

#zDisplayImg {
	max-height: 14rem;
	margin-top: 1rem;
}

#zTitle {
	font-size: 2.5rem;
	text-shadow: 0 0 10px #FF0000;
}

#zDateRange {
    color: #DC3F2E;
	font-size: 2rem;
	font-family: "Subway Shadow", "National Park", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#zMoreInfo {
	font-size: 1rem;
	text-align: left;
	padding-left: 1rem;
}

h1.title {
	font-family: "National Park", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 3.5rem;
	text-align: center;
	margin-top: 1rem;
	text-shadow: 5px 5px #E46F62;
}



